  <ion-list class="member-list" lines="none">
    <ion-menu-toggle autoHide="false">
      <ng-container *ngFor="let p of peer.peersInfo">
        <ion-item *ngIf="peer.isEnableCamera(p) && p.camStream.toggleSide">
          <app-videoplayer [stream]="p.camStream" ></app-videoplayer>
        </ion-item>

        <ion-item>
          <ion-label>{{p.displayName}}</ion-label>
          <ion-buttons>
            <ion-button *ngIf="p.roler === 1">
              <ion-icon name="person"></ion-icon>
            </ion-button>
            <ion-button *ngIf="peer.isScreenStreming(p)">
              <ion-icon name="desktop"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!peer.isScreenStreming(p)">
              <ion-icon name="desktop" color="light"></ion-icon>
            </ion-button>
            <ion-button *ngIf="peer.isEnableCamera(p)">
              <ion-icon name="videocam"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!peer.isEnableCamera(p)">
              <ion-icon name="videocam-off"></ion-icon>
            </ion-button>
            <ion-button *ngIf="peer.isEnableMic(p)">
              <ion-icon name="mic"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!peer.isEnableMic(p)">
              <ion-icon name="mic-off"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

      </ng-container>
    </ion-menu-toggle>
  </ion-list>
