<ion-app [class.dark-theme]="profile.themeDark">
  <ion-split-pane when="lg" contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar [color]="profile.color">
          <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="member" id="memberButton">
              <!--jack change the member font color to be white 12-11-2020-->
              <ion-label><p style="color:snow !important">{{i18n.lang.member}}：{{peer.peersInfo.length}}</p></ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <app-member></app-member>
        <app-chat></app-chat>
        <ng-container *ngFor="let p of peer.peersInfo">
          <audio [srcObject]="p.camStream" autoplay *ngIf="peer.isEnableMic(p)"></audio>
        </ng-container>
      </ion-content>

      <ion-footer>
        <ion-toolbar>
          <ion-buttons>
            <ion-textarea [placeholder]="i18n.lang.inputMessage"
              autofocus=true rows=4 inputmode="text" enterkeyhint="send" class="textarea" 
              spellcheck="false"
              (keydown.enter)="sendMessage(); $event.preventDefault();" 
              [(ngModel)]="inputMessage"
              ></ion-textarea>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-label slot="start">
            {{i18n.lang.sendTo}}:
          </ion-label>
          <ion-select [placeholder]="i18n.lang.all" interface="popover" (ionChange)="sendToChange($event)" slot="start">
            <ion-select-option value="all">{{i18n.lang.all}}</ion-select-option>
            <ng-container *ngFor="let p of peer.peersInfo">
              <ion-select-option [value]="p.id" *ngIf="p.id !== profile.me.id">{{p.displayName}}</ion-select-option>
            </ng-container>
          </ion-select>

          <ion-buttons slot="end">
            <ion-button (click)="openEmoji($event)">
              <ion-icon slot="icon-only" name="happy"></ion-icon>
            </ion-button>
            <ion-button (click)="sendMessage()">
              <ion-label>{{i18n.lang.send}}</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar [color]="profile.color">
          <ion-buttons slot="start" (click)="information()">
            <ion-button>
              <!-- <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon> -->
             <!-- jack change the icon in the meeting room. 12-11-2020 -->              
              <img src="assets/img/appicon.png" alt="Orca Conference Logo" width="32" height="32">              
            </ion-button>
            <ion-label><p style="font-size: 16px; color:snow !important">&nbsp;&nbsp;Orca Conference. Rev 12.24.2020.38226&nbsp;&nbsp; </p></ion-label>
            <ion-title>{{classroom.timeElapsed}}</ion-title>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button slot="end" (click)="netstatPopover($event)">
              <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="logout()">
              <ion-icon slot="icon-only" name ="log-out-outline"></ion-icon>
            </ion-button>

            
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-justify-content-center">
        <app-mainvideo *ngIf="profile.boardComponent===boardcomp.video"></app-mainvideo>
        <app-document *ngIf="profile.boardComponent===boardcomp.document"></app-document>
        <app-sharedesk *ngIf="profile.boardComponent===boardcomp.sharescreen"></app-sharedesk>
        <app-sharemedia *ngIf="profile.boardComponent===boardcomp.sharemedia"></app-sharemedia>
        <div *ngIf="profile.boardComponent===boardcomp.document && profile.privilege.classControl" slot="fixed" class="drawtoolbar">
          <app-drawtool></app-drawtool>
        </div>
        <div *ngIf="profile.boardComponent===boardcomp.document" slot="fixed" class="pagetoolbar">
          <app-pagetool></app-pagetool>
        </div>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
           <ion-buttons class="ion-justify-content-around main-btns" style="text-align: center !important; border-top-style: solid;border-top-color: gray;border-width: 2px;"> 
            <ion-button *ngIf="!peer.isEnableCamera(profile.me)" (click)="produceLocalCamera();videoBtn.disabled=true" #videoBtn>
              <div>
                <!-- <ion-icon slot="icon-only" src="assets/img/videocam-off.png"></ion-icon>     -->
                <img src="assets/img/videocam-off.png" style="max-width:30px;cursor: pointer;">            
                <p style="color:gray !important">Video OFF </p>            
              </div>
            </ion-button>

            <ion-button *ngIf="peer.isEnableCamera(profile.me)" (click)="peer.stopLocalCamera();videoBtn.disabled=false" >
              <div>
                <!-- <ion-icon slot="icon-only" name="videocam"></ion-icon> Jack change for the gif-->              
                <img src="assets/img/videocam-on.gif" style="max-width:30px;cursor: pointer;">
                <p style="color:green !important">Video ON </p>              
              </div>
              <!-- <ion-icon slot="icon-only" name="videocam"></ion-icon> Jack change for the gif-->              
            </ion-button>

            <ion-button *ngIf="!peer.isEnableMic(profile.me)" (click)="produceLocalMic();micBtn.disabled = true" #micBtn>
              <div>
                <!--<ion-icon slot="icon-only" name="mic-off"></ion-icon> -->
                <img src="assets/img/microphone-off.png" style="max-width:30px;cursor: pointer;">
                <p style="color:gray !important">Mic OFF </p>         
              </div>
            </ion-button>
            
            <ion-button *ngIf="peer.isEnableMic(profile.me)" (click)="peer.stopLocalMic();micBtn.disabled=fasle">
              <div>
                <!-- <ion-icon slot="icon-only" name="mic"></ion-icon> -->              
                <img src="assets/img/microphone-on.gif" style="max-width:30px;cursor: pointer;">
                <p style="color:green !important">Mic ON </p>
              </div>
            </ion-button>

            <ion-button class="" (click)="sharePopover($event)" *ngIf="profile.privilege.classControl">
              <div>
                <ion-icon slot="icon-only" name="share" style="max-width:30px;cursor: pointer;"></ion-icon>       
                <p style="color:black !important">Share</p>     
              </div>
            </ion-button>
            
        <!-- Jack hide bcause we always to open the chat and vedio . 12-10-2020
            <ion-button (click)="openMember()">
              <ion-icon slot="icon-only" name="people"></ion-icon>
            </ion-button>
            <ion-button (click)="openChat()">
              <ion-icon  slot="icon-only" name="chatbox-ellipses"></ion-icon>
            </ion-button>
          -->
            <ion-button (click)="settingPopover()">
              <div>
                <ion-icon slot="icon-only" name="settings" style="max-width:30px;cursor: pointer;"></ion-icon>   
                <p style="color:black !important">Setting</p>           
              </div>
            </ion-button>
            

            <ion-button (click)="morePopover($event)">
              <div>
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" style="max-width:30px;cursor: pointer;"></ion-icon>     
                <p style="color:black !important">More</p>         
              </div>
            </ion-button>
            

            <ion-button color="primary" style="cursor: pointer;"
              (click)="classroom.startClass()" 
              *ngIf="!classroom.started && profile.privilege.classControl">
              {{i18n.lang.start}}
            </ion-button>

            <ion-button style="cursor: pointer;" color="primary" (click)="classroom.stopClass()" *ngIf="classroom.started && profile.privilege.classControl">
              {{i18n.lang.stop}}
            </ion-button>
           </ion-buttons> 
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
</ion-app>

